.container{
    display: flex;
    flex-direction: column;
    margin: 32px;
    height: 100vh;
    align-items: center;
}

.inputForm > textarea,input {
    margin-bottom: 1.5rem;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
}

.inputForm > textarea {
    resize: none;
}

.inputForm > input{
    height: 2rem;
}

.inputForm > p{
    position: relative;
}
.applyButton {
    width: 100px;
    height: 40px;
}


.inputForm>input::-webkit-input-placeholder:after {
    content: '*';
 }
 
 .inputForm>input:-moz-placeholder:after { /* Firefox 18- */
    content: '*'; 
 }
 
 .inputForm>input::-moz-placeholder:after {  /* Firefox 19+ */
    content: '*';
 }
 
 .inputForm>input:-ms-input-placeholder:after {  
    content: '*';
 }

 /* @media only screen and (min-width:1200px){
    .inputForm > textarea,input {
        width: 100%;

    }
 } */