.container{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 100%;
    align-self: center;
    justify-content: space-between;
}

.item{
    text-align: center;
    word-wrap: normal;
    width: 33%;
    flex:0 0 30%;
    padding: 1.5rem;
}

.item > h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.item > p {
    font-size: 18px;
    padding: 0;
    color: rgb(36, 36, 36);
    line-height: 1.70;
}

.smallParagraph{
    text-align: left;
}

@media only screen and (max-width:1200px){
    .container{
        flex-direction: column;
    }
    .item{
        width: 100%;
        padding: 2;
    }
}
